/*Estilo para la cabecera*/

header{
    height: 130px;
    background-color: rgb(50, 83, 146);
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    
}


@media (max-width: 768px) {
    .navbar {
        width: 100vw;
        flex-direction: column;
         
    }
    .navbar-collapse {
        width: 100vw;
        position: absolute;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 60px;
        background: rgb(50, 83, 146);
        z-index: 99;
        display: none;
       
    }
    .navbar-collapse.show {
        display: block;
    }
    .navbar-toggler {
        display: flex;
    }
    ul{
        margin-top: 20px;

    }
}

.navbar-nav a{
    font-size: 30px !important;
    color: white !important;
    margin-top: 20px !important;
}
.collapse{
    display:none;
}
.collapse.show{
    display: block;
}

/*Estilo para el footer*/

footer{
    background-color:rgb(50, 83, 146);
    width: 100%;
    height: 60px;
    bottom: 0;
    position:absolute;
}

.iconos{
    display: flex;
    justify-content: center;
}

/*Estilo para margen del footer*/
body{
    background-color: rgba(200, 224, 255, 0.575) !important;
    width: 100%;
    overflow-x: hidden;
}
html{
    min-height: 100%;
    position: relative;

}