/*Estilo para la cabecera*/
header{
    height: 130px;
    background-color: rgb(50, 83, 146);
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    
}


.navbar{
    display: flex;
    z-index:1;
    justify-content: space-between;

    margin-top: 20px;

}
.titulo{
    margin-top: 80px !important;
}
.navbar, .titulo{
    position: relative;
    z-index: 1;
    width: 60%;
    display: flex;
    justify-content: center;
    gap: 20px;
}
a{
    font-size: 30px !important;
    color: white !important;

}

/*Estilo para el footer*/

footer{
    background-color:rgb(50, 83, 146);
    width: 100%;
    height: 60px;
    bottom: 0;
    position:absolute;
}

.iconos{
    display: flex;
    justify-content: center;
}

/*Estilo para margen del footer*/
body{
    background-color: rgba(200, 224, 255, 0.575) !important;
    width: 100%;
}
html{
    min-height: 100%;
    position: relative;

}