.container-Inicio{
    margin-top: 150px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.container-Inicio .row{
    width: 400px;
    height: auto;
    border: 2px solid  #54708d;
    background-color: #ffffff;
    border: 1px solid rgba(50, 83, 146, 0.12);
    border-radius: 12px;
    box-shadow: 0 10px 28px rgba(20, 61, 126, 0.12);
    color: rgb(28, 65, 136) !important;
}

.cabecera{
    color: rgb(28, 65, 136) !important;
    text-decoration: none;
    justify-content: space-between;
    padding:20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.Inicio{
    margin-top: 10px !important;
}


input{
    display: block;
    width: 90%;
    color: rgb(50, 83, 146) !important;
    background-color: #e6ebf8;
    border: none;
    border-radius: 15px;
    margin: 20px !important;
    padding: 10px;
}

.btn-iniciar{
    width: 90%;
    border:none;
    background-color: #0b5ed7 !important;
    color: #ffffff !important;
    text-transform: uppercase;
    border-radius: 20px;
    padding-top: 7px;
    font-weight: 800;
}

.politica-label{
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 15px;
    margin-right: 0px;
    
}

.politica-label a{
    text-decoration: none !important;
    font-weight: 600;
    color: black;
}

.politica-label input[type="checkbox"]{
    width: auto !important;
    margin: 0;
    position: relative;
    flex-shrink: 0;
}