.texto{
    color:rgb(50, 83, 146);
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
}


.row{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.municipio{
    width: 415px;
    height: 250px;
    border-radius: 8px;
    opacity: 1;
    z-index: 1;
}

.boton{
    display:block;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    font-size: 15px;
    border-color: rgb(50, 83, 146);
    color: rgb(40, 92, 189);
    background-color: rgb(144, 178, 236);
    padding: 6px 0;
    text-decoration: none;
}

.container{
    margin-bottom: 50px;
}